@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
    background-color: blanchedalmond;
    text-align: center;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

.finishStyle {
    text-decoration: line-through red 3px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

.js-clock{
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.js-form, .js-greetings {
    margin-top: 11.5rem;
    margin-bottom: 11.5rem;
}

.js-toDoForm{
    margin-top: 12rem;
    margin-bottom: 2rem;
}

.js-toDoList {
    margin-left: auto;
    margin-right: auto;
    display: table;
}